In [1]:
import pandas as pd

In [2]:
# 1. Get the data ready
training_data = pd.read_csv("dataset and all/training_set_features.csv")

In [3]:
training_data

,respondent_id,xyz_concern,xyz_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,behavioral_touch_face,...,income_poverty,marital_status,rent_or_own,employment_status,hhs_geo_region,census_msa,household_adults,household_children,employment_industry,employment_occupation
0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,Below Poverty,Not Married,Own,Not in Labor Force,oxchjgsf,Non-MSA,0.0,0.0,NaN,NaN
1,1,3.0,2.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,...,Below Poverty,Not Married,Rent,Employed,bhuqouqj,"MSA, Not Principle City",0.0,0.0,pxcmvdjn,xgwztkwe
2,2,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,"<= $75,000, Above Poverty",Not Married,Own,Employed,qufhixun,"MSA, Not Principle City",2.0,0.0,rucpziij,xtkaffoo
3,3,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,...,Below Poverty,Not Married,Rent,Not in Labor Force,lrircsnp,"MSA, Principle City",0.0,0.0,NaN,NaN
4,4,2.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,...,"<= $75,000, Above Poverty",Married,Own,Employed,qufhixun,"MSA, Not Principle City",1.0,0.0,wxleyezf,emcorrxb
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26702,26702,2.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,"<= $75,000, Above Poverty",Not Married,Own,Not in Labor Force,qufhixun,Non-MSA,0.0,0.0,NaN,NaN
26703,26703,1.0,2.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,"<= $75,000, Above Poverty",Not Married,Rent,Employed,lzgpxyit,"MSA, Principle City",1.0,0.0,fcxhlnwr,cmhcxjea
26704,26704,2.0,2.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,...,NaN,Not Married,Own,NaN,lzgpxyit,"MSA, Not Principle City",0.0,0.0,NaN,NaN
26705,26705,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,...,"<= $75,000, Above Poverty",Married,Rent,Employed,lrircsnp,Non-MSA,1.0,0.0,fcxhlnwr,haliazsg
26706,26706,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,"<= $75,000, Above Poverty",Married,Own,Not in Labor Force,mlyzmhmf,"MSA, Principle City",1.0,0.0,NaN,NaN

In [4]:
test_data=pd.read_csv("dataset and all/test_set_features.csv")

In [5]:
test_data

,respondent_id,xyz_concern,xyz_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,behavioral_touch_face,...,income_poverty,marital_status,rent_or_own,employment_status,hhs_geo_region,census_msa,household_adults,household_children,employment_industry,employment_occupation
0,26707,2.0,2.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,...,"> $75,000",Not Married,Rent,Employed,mlyzmhmf,"MSA, Not Principle City",1.0,0.0,atmlpfrs,hfxkjkmi
1,26708,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,Below Poverty,Not Married,Rent,Employed,bhuqouqj,Non-MSA,3.0,0.0,atmlpfrs,xqwwgdyp
2,26709,2.0,2.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,...,"> $75,000",Married,Own,Employed,lrircsnp,Non-MSA,1.0,0.0,nduyfdeo,pvmttkik
3,26710,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,"<= $75,000, Above Poverty",Married,Own,Not in Labor Force,lrircsnp,"MSA, Not Principle City",1.0,0.0,NaN,NaN
4,26711,3.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,...,"<= $75,000, Above Poverty",Not Married,Own,Employed,lzgpxyit,Non-MSA,0.0,1.0,fcxhlnwr,mxkfnird
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26703,53410,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,...,NaN,NaN,NaN,NaN,dqpwygqj,"MSA, Principle City",1.0,1.0,NaN,NaN
26704,53411,3.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,...,Below Poverty,Married,Rent,Employed,qufhixun,Non-MSA,1.0,3.0,fcxhlnwr,vlluhbov
26705,53412,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,Below Poverty,Not Married,Rent,Not in Labor Force,qufhixun,"MSA, Not Principle City",1.0,0.0,NaN,NaN
26706,53413,3.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,...,"<= $75,000, Above Poverty",Married,Own,Not in Labor Force,bhuqouqj,"MSA, Not Principle City",1.0,0.0,NaN,NaN
26707,53414,2.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,...,NaN,Not Married,Rent,Employed,lrircsnp,"MSA, Principle City",0.0,0.0,NaN,xtkaffoo

In [6]:
training_labels=pd.read_csv("dataset and all/training_set_labels.csv")

In [7]:
training_labels

       respondent_id  xyz_vaccine  seasonal_vaccine
0                  0            0                 0
1                  1            0                 1
2                  2            0                 0
3                  3            0                 1
4                  4            0                 0
...              ...          ...               ...
26702          26702            0                 0
26703          26703            0                 0
26704          26704            0                 1
26705          26705            0                 0
26706          26706            0                 0

[26707 rows x 3 columns]

In [8]:
training_labels.dtypes

respondent_id       int64
xyz_vaccine         int64
seasonal_vaccine    int64
dtype: object

In [9]:
training_data.dtypes

respondent_id                    int64
xyz_concern                    float64
xyz_knowledge                  float64
behavioral_antiviral_meds      float64
behavioral_avoidance           float64
behavioral_face_mask           float64
behavioral_wash_hands          float64
behavioral_large_gatherings    float64
behavioral_outside_home        float64
behavioral_touch_face          float64
doctor_recc_xyz                float64
doctor_recc_seasonal           float64
chronic_med_condition          float64
child_under_6_months           float64
health_worker                  float64
health_insurance               float64
opinion_xyz_vacc_effective     float64
opinion_xyz_risk               float64
opinion_xyz_sick_from_vacc     float64
opinion_seas_vacc_effective    float64
opinion_seas_risk              float64
opinion_seas_sick_from_vacc    float64
age_group                       object
education                       object
race                            object
sex                             object
income_poverty                  object
marital_status                  object
rent_or_own                     object
employment_status               object
hhs_geo_region                  object
census_msa                      object
household_adults               float64
household_children             float64
employment_industry             object
employment_occupation           object
dtype: object

In [10]:
training_data.isna().sum()

respondent_id                      0
xyz_concern                       92
xyz_knowledge                    116
behavioral_antiviral_meds         71
behavioral_avoidance             208
behavioral_face_mask              19
behavioral_wash_hands             42
behavioral_large_gatherings       87
behavioral_outside_home           82
behavioral_touch_face            128
doctor_recc_xyz                 2160
doctor_recc_seasonal            2160
chronic_med_condition            971
child_under_6_months             820
health_worker                    804
health_insurance               12274
opinion_xyz_vacc_effective       391
opinion_xyz_risk                 388
opinion_xyz_sick_from_vacc       395
opinion_seas_vacc_effective      462
opinion_seas_risk                514
opinion_seas_sick_from_vacc      537
age_group                          0
education                       1407
race                               0
sex                                0
income_poverty                  4423
marital_status                  1408
rent_or_own                     2042
employment_status               1463
hhs_geo_region                     0
census_msa                         0
household_adults                 249
household_children               249
employment_industry            13330
employment_occupation          13470
dtype: int64

In [11]:
len(training_data)

26707

In [12]:
training_labels.isna().sum()

respondent_id       0
xyz_vaccine         0
seasonal_vaccine    0
dtype: int64

In [13]:
# create x labels for xyz vaccine
x=training_data

# create y labels
y=training_labels["xyz_vaccine"]

In [14]:
x

,respondent_id,xyz_concern,xyz_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,behavioral_touch_face,...,income_poverty,marital_status,rent_or_own,employment_status,hhs_geo_region,census_msa,household_adults,household_children,employment_industry,employment_occupation
0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,Below Poverty,Not Married,Own,Not in Labor Force,oxchjgsf,Non-MSA,0.0,0.0,NaN,NaN
1,1,3.0,2.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,...,Below Poverty,Not Married,Rent,Employed,bhuqouqj,"MSA, Not Principle City",0.0,0.0,pxcmvdjn,xgwztkwe
2,2,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,"<= $75,000, Above Poverty",Not Married,Own,Employed,qufhixun,"MSA, Not Principle City",2.0,0.0,rucpziij,xtkaffoo
3,3,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,...,Below Poverty,Not Married,Rent,Not in Labor Force,lrircsnp,"MSA, Principle City",0.0,0.0,NaN,NaN
4,4,2.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,...,"<= $75,000, Above Poverty",Married,Own,Employed,qufhixun,"MSA, Not Principle City",1.0,0.0,wxleyezf,emcorrxb
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26702,26702,2.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,"<= $75,000, Above Poverty",Not Married,Own,Not in Labor Force,qufhixun,Non-MSA,0.0,0.0,NaN,NaN
26703,26703,1.0,2.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,"<= $75,000, Above Poverty",Not Married,Rent,Employed,lzgpxyit,"MSA, Principle City",1.0,0.0,fcxhlnwr,cmhcxjea
26704,26704,2.0,2.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,...,NaN,Not Married,Own,NaN,lzgpxyit,"MSA, Not Principle City",0.0,0.0,NaN,NaN
26705,26705,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,...,"<= $75,000, Above Poverty",Married,Rent,Employed,lrircsnp,Non-MSA,1.0,0.0,fcxhlnwr,haliazsg
26706,26706,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,"<= $75,000, Above Poverty",Married,Own,Not in Labor Force,mlyzmhmf,"MSA, Principle City",1.0,0.0,NaN,NaN

In [15]:
y

0        0
1        0
2        0
3        0
4        0
        ..
26702    0
26703    0
26704    0
26705    0
26706    0
Name: xyz_vaccine, Length: 26707, dtype: int64

In [16]:
x.columns

Index(['respondent_id', 'xyz_concern', 'xyz_knowledge',
       'behavioral_antiviral_meds', 'behavioral_avoidance',
       'behavioral_face_mask', 'behavioral_wash_hands',
       'behavioral_large_gatherings', 'behavioral_outside_home',
       'behavioral_touch_face', 'doctor_recc_xyz', 'doctor_recc_seasonal',
       'chronic_med_condition', 'child_under_6_months', 'health_worker',
       'health_insurance', 'opinion_xyz_vacc_effective', 'opinion_xyz_risk',
       'opinion_xyz_sick_from_vacc', 'opinion_seas_vacc_effective',
       'opinion_seas_risk', 'opinion_seas_sick_from_vacc', 'age_group',
       'education', 'race', 'sex', 'income_poverty', 'marital_status',
       'rent_or_own', 'employment_status', 'hhs_geo_region', 'census_msa',
       'household_adults', 'household_children', 'employment_industry',
       'employment_occupation'],
      dtype='object')

In [17]:
training_data.dtypes

respondent_id                    int64
xyz_concern                    float64
xyz_knowledge                  float64
behavioral_antiviral_meds      float64
behavioral_avoidance           float64
behavioral_face_mask           float64
behavioral_wash_hands          float64
behavioral_large_gatherings    float64
behavioral_outside_home        float64
behavioral_touch_face          float64
doctor_recc_xyz                float64
doctor_recc_seasonal           float64
chronic_med_condition          float64
child_under_6_months           float64
health_worker                  float64
health_insurance               float64
opinion_xyz_vacc_effective     float64
opinion_xyz_risk               float64
opinion_xyz_sick_from_vacc     float64
opinion_seas_vacc_effective    float64
opinion_seas_risk              float64
opinion_seas_sick_from_vacc    float64
age_group                       object
education                       object
race                            object
sex                             object
income_poverty                  object
marital_status                  object
rent_or_own                     object
employment_status               object
hhs_geo_region                  object
census_msa                      object
household_adults               float64
household_children             float64
employment_industry             object
employment_occupation           object
dtype: object

In [18]:
training_data.isna().sum()

respondent_id                      0
xyz_concern                       92
xyz_knowledge                    116
behavioral_antiviral_meds         71
behavioral_avoidance             208
behavioral_face_mask              19
behavioral_wash_hands             42
behavioral_large_gatherings       87
behavioral_outside_home           82
behavioral_touch_face            128
doctor_recc_xyz                 2160
doctor_recc_seasonal            2160
chronic_med_condition            971
child_under_6_months             820
health_worker                    804
health_insurance               12274
opinion_xyz_vacc_effective       391
opinion_xyz_risk                 388
opinion_xyz_sick_from_vacc       395
opinion_seas_vacc_effective      462
opinion_seas_risk                514
opinion_seas_sick_from_vacc      537
age_group                          0
education                       1407
race                               0
sex                                0
income_poverty                  4423
marital_status                  1408
rent_or_own                     2042
employment_status               1463
hhs_geo_region                     0
census_msa                         0
household_adults                 249
household_children               249
employment_industry            13330
employment_occupation          13470
dtype: int64

In [19]:
training_data["age_group"].unique()

array(['55 - 64 Years', '35 - 44 Years', '18 - 34 Years', '65+ Years',
       '45 - 54 Years'], dtype=object)

In [20]:
training_data["education"].mode()

0    College Graduate
dtype: object

In [21]:
training_data["age_group"].isna().sum()

0

In [23]:
# fill missing values with scikit-learn
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer


# Fill categorical values with 'missing' & numerical values with mean
cat_imputer=SimpleImputer(strategy="constant", fill_value="missing")
# door_imputer =SimpleImputer(strategy="constant", fill_value=4)
# num_imputer=SimpleImputer(strategy="mean")

xyz_concern_imputer=SimpleImputer(strategy="constant", fill_value=int(2))
xyz_knowledge_imputer=SimpleImputer(strategy="constant", fill_value=int(1))
behavioral_face_mask_imputer=SimpleImputer(strategy="constant",fill_value=int(0))
opinion_xyz_vacc_effective_imputer=SimpleImputer(strategy="constant", fill_value=int(4))
opinion_seas_risk_imputer=SimpleImputer(strategy="constant", fill_value=int(3))
education_imputer=SimpleImputer(strategy="constant", fill_value="College Graduate")
income_poverty_imputer=SimpleImputer(strategy="constant", fill_value="<= $75,000, Above Poverty")
marital_status_imputer=SimpleImputer(strategy="constant", fill_value="Married")
rent_or_own_imputer=SimpleImputer(strategy="constant", fill_value="Own")
employment_status_imputer=SimpleImputer(strategy="constant", fill_value="Employed")

# Define columns

# door_feature=["Doors"]
# num_features=["Odometer (KM)"]
rent_or_own_features=["rent_or_own"]

xyz_concern_features=["xyz_concern", "opinion_xyz_risk", "opinion_xyz_sick_from_vacc", "opinion_seas_sick_from_vacc"]
xyz_knowledge_features=["xyz_knowledge","behavioral_avoidance","behavioral_antiviral_meds", "behavioral_wash_hands", "behavioral_touch_face", "household_adults", "household_children"]
behavioral_face_mask_features=["behavioral_face_mask", "behavioral_large_gatherings","behavioral_outside_home", "doctor_recc_xyz", "doctor_recc_seasonal", "chronic_med_condition", "child_under_6_months","health_worker", "health_insurance"]
opinion_xyz_vacc_effective_features=["opinion_xyz_vacc_effective", "opinion_seas_vacc_effective"]
opinion_seas_risk_features=["opinion_seas_risk"]
education_features=["education"]
income_poverty_features=["income_poverty"]
marital_status_features=["marital_status"]
# rent_or_own_features=["rent_or_own"]
employment_status=["employment_status"]
cat_features=["employment_industry","employment_occupation"]

# create an imputer (something that fills missing data)
imputer =ColumnTransformer([
    
#     ("door_imputer", door_imputer, door_feature),
#     ("num_imputer", num_imputer, num_features),
    ("xyz_concern_imputer",xyz_concern_imputer,xyz_concern_features),
    ("xyz_knowledge_imputer", xyz_knowledge_imputer, xyz_knowledge_features),
    ("behavioral_face_mask_imputer", behavioral_face_mask_imputer,behavioral_face_mask_features),
    ("opinion_xyz_vacc_effective_imputer", opinion_xyz_vacc_effective_imputer, opinion_xyz_vacc_effective_features),
    ("opinion_seas_risk_imputer", opinion_seas_risk_imputer, opinion_seas_risk_features),
    ("education_imputer", education_imputer, education_features), 
    ("income_poverty_imputer", income_poverty_imputer, income_poverty_features), 
    ("marital_status_imputer", marital_status_imputer, marital_status_features), 
    ("rent_or_own_imputer", rent_or_own_imputer, rent_or_own_features),
    ("employment_status_imputer", employment_status_imputer, employment_status),
    ("cat_imputer", cat_imputer, cat_features)
   ],
remainder="passthrough")


# Transform the data
filled_x=imputer.fit_transform(x)
filled_x

array([[1.0, 1.0, 2.0, ..., 'Female', 'oxchjgsf', 'Non-MSA'],
       [3.0, 4.0, 4.0, ..., 'Male', 'bhuqouqj',
        'MSA, Not Principle  City'],
       [1.0, 1.0, 1.0, ..., 'Male', 'qufhixun',
        'MSA, Not Principle  City'],
       ...,
       [2.0, 4.0, 2.0, ..., 'Female', 'lzgpxyit',
        'MSA, Not Principle  City'],
       [1.0, 1.0, 2.0, ..., 'Female', 'lrircsnp', 'Non-MSA'],
       [0.0, 1.0, 1.0, ..., 'Male', 'mlyzmhmf', 'MSA, Principle City']],
      dtype=object)

In [24]:
x.isna().sum()

respondent_id                      0
xyz_concern                       92
xyz_knowledge                    116
behavioral_antiviral_meds         71
behavioral_avoidance             208
behavioral_face_mask              19
behavioral_wash_hands             42
behavioral_large_gatherings       87
behavioral_outside_home           82
behavioral_touch_face            128
doctor_recc_xyz                 2160
doctor_recc_seasonal            2160
chronic_med_condition            971
child_under_6_months             820
health_worker                    804
health_insurance               12274
opinion_xyz_vacc_effective       391
opinion_xyz_risk                 388
opinion_xyz_sick_from_vacc       395
opinion_seas_vacc_effective      462
opinion_seas_risk                514
opinion_seas_sick_from_vacc      537
age_group                          0
education                       1407
race                               0
sex                                0
income_poverty                  4423
marital_status                  1408
rent_or_own                     2042
employment_status               1463
hhs_geo_region                     0
census_msa                         0
household_adults                 249
household_children               249
employment_industry            13330
employment_occupation          13470
dtype: int64

In [25]:
filled_x

array([[1.0, 1.0, 2.0, ..., 'Female', 'oxchjgsf', 'Non-MSA'],
       [3.0, 4.0, 4.0, ..., 'Male', 'bhuqouqj',
        'MSA, Not Principle  City'],
       [1.0, 1.0, 1.0, ..., 'Male', 'qufhixun',
        'MSA, Not Principle  City'],
       ...,
       [2.0, 4.0, 2.0, ..., 'Female', 'lzgpxyit',
        'MSA, Not Principle  City'],
       [1.0, 1.0, 2.0, ..., 'Female', 'lrircsnp', 'Non-MSA'],
       [0.0, 1.0, 1.0, ..., 'Male', 'mlyzmhmf', 'MSA, Principle City']],
      dtype=object)

In [26]:
new_x=pd.DataFrame(filled_x)

In [27]:
new_x

,0,1,2,3,4,5,6,7,8,9,...,26,27,28,29,30,31,32,33,34,35
0,1,1,2,2,0,0,0,0,1,0,...,Own,Not in Labor Force,missing,missing,0,55 - 64 Years,White,Female,oxchjgsf,Non-MSA
1,3,4,4,4,2,1,0,1,1,0,...,Rent,Employed,pxcmvdjn,xgwztkwe,1,35 - 44 Years,White,Male,bhuqouqj,"MSA, Not Principle City"
2,1,1,1,2,1,1,0,0,0,2,...,Own,Employed,rucpziij,xtkaffoo,2,18 - 34 Years,White,Male,qufhixun,"MSA, Not Principle City"
3,1,3,5,1,1,1,0,1,0,0,...,Rent,Not in Labor Force,missing,missing,3,65+ Years,White,Female,lrircsnp,"MSA, Principle City"
4,2,3,2,4,1,1,0,1,1,1,...,Own,Employed,wxleyezf,emcorrxb,4,45 - 54 Years,White,Female,qufhixun,"MSA, Not Principle City"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26702,2,1,1,2,0,1,0,0,0,0,...,Own,Not in Labor Force,missing,missing,26702,65+ Years,White,Female,qufhixun,Non-MSA
26703,1,2,2,1,2,1,0,1,0,1,...,Rent,Employed,fcxhlnwr,cmhcxjea,26703,18 - 34 Years,White,Male,lzgpxyit,"MSA, Principle City"
26704,2,4,2,2,2,1,0,1,1,0,...,Own,Employed,missing,missing,26704,55 - 64 Years,White,Female,lzgpxyit,"MSA, Not Principle City"
26705,1,1,2,2,1,0,0,0,1,1,...,Rent,Employed,fcxhlnwr,haliazsg,26705,18 - 34 Years,Hispanic,Female,lrircsnp,Non-MSA
26706,0,1,1,1,0,1,0,0,0,1,...,Own,Not in Labor Force,missing,missing,26706,65+ Years,White,Male,mlyzmhmf,"MSA, Principle City"

In [28]:
new_x.isna().sum()

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
20    0
21    0
22    0
23    0
24    0
25    0
26    0
27    0
28    0
29    0
30    0
31    0
32    0
33    0
34    0
35    0
dtype: int64

In [29]:
training_data.columns

Index(['respondent_id', 'xyz_concern', 'xyz_knowledge',
       'behavioral_antiviral_meds', 'behavioral_avoidance',
       'behavioral_face_mask', 'behavioral_wash_hands',
       'behavioral_large_gatherings', 'behavioral_outside_home',
       'behavioral_touch_face', 'doctor_recc_xyz', 'doctor_recc_seasonal',
       'chronic_med_condition', 'child_under_6_months', 'health_worker',
       'health_insurance', 'opinion_xyz_vacc_effective', 'opinion_xyz_risk',
       'opinion_xyz_sick_from_vacc', 'opinion_seas_vacc_effective',
       'opinion_seas_risk', 'opinion_seas_sick_from_vacc', 'age_group',
       'education', 'race', 'sex', 'income_poverty', 'marital_status',
       'rent_or_own', 'employment_status', 'hhs_geo_region', 'census_msa',
       'household_adults', 'household_children', 'employment_industry',
       'employment_occupation'],
      dtype='object')

In [30]:
training_data_filled=pd.DataFrame(filled_x,
                              columns=["xyz_concern", "opinion_xyz_risk", "opinion_xyz_sick_from_vacc","opinion_seas_sick_from_vacc", "xyz_knowledge",
                                      "behavioral_avoidance", "behavioral_antiviral_meds","behavioral_wash_hands", "behavioral_touch_face", "household_adults", 
                                      "household_children", "behavioral_face_mask", "behavioral_large_gatherings", "behavioral_outside_home", "doctor_recc_xyz",
                                       "doctor_recc_seasonal", "chronic_med_condition", "child_under_6_months", "health_worker",
                                       "health_insurance", "opinion_xyz_vacc_effective","opinion_seas_vacc_effective", "opinion_seas_risk", 
                                      "education", "income_poverty", "marital_status","rent_or_own", "employment_status", "employment_industry","employment_occupation",
                                       "respondent_id", "age_group", "race", "sex", "hhs_geo_region", "census_msa"])
training_data_filled.head()

,xyz_concern,opinion_xyz_risk,opinion_xyz_sick_from_vacc,opinion_seas_sick_from_vacc,xyz_knowledge,behavioral_avoidance,behavioral_antiviral_meds,behavioral_wash_hands,behavioral_touch_face,household_adults,...,rent_or_own,employment_status,employment_industry,employment_occupation,respondent_id,age_group,race,sex,hhs_geo_region,census_msa
0,1,1,2,2,0,0,0,0,1,0,...,Own,Not in Labor Force,missing,missing,0,55 - 64 Years,White,Female,oxchjgsf,Non-MSA
1,3,4,4,4,2,1,0,1,1,0,...,Rent,Employed,pxcmvdjn,xgwztkwe,1,35 - 44 Years,White,Male,bhuqouqj,"MSA, Not Principle City"
2,1,1,1,2,1,1,0,0,0,2,...,Own,Employed,rucpziij,xtkaffoo,2,18 - 34 Years,White,Male,qufhixun,"MSA, Not Principle City"
3,1,3,5,1,1,1,0,1,0,0,...,Rent,Not in Labor Force,missing,missing,3,65+ Years,White,Female,lrircsnp,"MSA, Principle City"
4,2,3,2,4,1,1,0,1,1,1,...,Own,Employed,wxleyezf,emcorrxb,4,45 - 54 Years,White,Female,qufhixun,"MSA, Not Principle City"

In [31]:
# now convertion of categorical data to float


# let's try and convert our data to numbers
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features=["age_group",
       "education", "race", "sex", "income_poverty", "marital_status",
       "rent_or_own", "employment_status", "hhs_geo_region", "census_msa", "employment_industry", "employment_occupation"]
one_hot=OneHotEncoder()
transformer=ColumnTransformer([("one_hot",one_hot,categorical_features)], remainder="passthrough")

transformed_x=transformer.fit_transform(training_data_filled)
transformed_x

array([[0.0, 0.0, 0.0, ..., 2.0, 1.0, 0],
       [0.0, 1.0, 0.0, ..., 4.0, 2.0, 1],
       [1.0, 0.0, 0.0, ..., 4.0, 1.0, 2],
       ...,
       [0.0, 0.0, 0.0, ..., 5.0, 4.0, 26704],
       [1.0, 0.0, 0.0, ..., 2.0, 1.0, 26705],
       [0.0, 0.0, 0.0, ..., 5.0, 1.0, 26706]], dtype=object)

In [32]:
transformed_x

array([[0.0, 0.0, 0.0, ..., 2.0, 1.0, 0],
       [0.0, 1.0, 0.0, ..., 4.0, 2.0, 1],
       [1.0, 0.0, 0.0, ..., 4.0, 1.0, 2],
       ...,
       [0.0, 0.0, 0.0, ..., 5.0, 4.0, 26704],
       [1.0, 0.0, 0.0, ..., 2.0, 1.0, 26705],
       [0.0, 0.0, 0.0, ..., 5.0, 1.0, 26706]], dtype=object)

In [33]:
pd.DataFrame(transformed_x)

,0,1,2,3,4,5,6,7,8,9,...,98,99,100,101,102,103,104,105,106,107
0,0,0,0,1,0,0,1,0,0,0,...,0,0,0,0,0,1,3,2,1,0
1,0,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,1,5,4,2,1
2,1,0,0,0,0,0,0,1,0,0,...,0,0,1,0,0,0,3,4,1,2
3,0,0,0,0,1,1,0,0,0,0,...,0,1,1,0,0,0,3,5,4,3
4,0,0,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,3,3,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26702,0,0,0,0,1,0,0,0,1,0,...,0,0,0,0,0,0,3,5,2,26702
26703,1,0,0,0,0,0,0,1,0,0,...,1,1,0,0,1,1,4,5,1,26703
26704,0,0,0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,4,5,4,26704
26705,1,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,3,2,1,26705
26706,0,0,0,0,1,0,0,0,1,0,...,0,0,0,0,0,1,5,5,1,26706

In [34]:
# 2. choose the right model and hyperparameters
from sklearn.ensemble import RandomForestClassifier
clf=RandomForestClassifier(n_estimators=100)

# we'll keep the default hyperparam eter
clf.get_params();

In [35]:
# 3.fit the model to the  training data
from sklearn.model_selection import train_test_split

X_train , X_test, Y_train,Y_test=train_test_split(transformed_x, y, test_size=0.2)

In [36]:
clf.fit(X_train, Y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [37]:
clf.score(X_test, Y_test)

0.847997004867091

In [38]:
test_data.dtypes

respondent_id                    int64
xyz_concern                    float64
xyz_knowledge                  float64
behavioral_antiviral_meds      float64
behavioral_avoidance           float64
behavioral_face_mask           float64
behavioral_wash_hands          float64
behavioral_large_gatherings    float64
behavioral_outside_home        float64
behavioral_touch_face          float64
doctor_recc_xyz                float64
doctor_recc_seasonal           float64
chronic_med_condition          float64
child_under_6_months           float64
health_worker                  float64
health_insurance               float64
opinion_xyz_vacc_effective     float64
opinion_xyz_risk               float64
opinion_xyz_sick_from_vacc     float64
opinion_seas_vacc_effective    float64
opinion_seas_risk              float64
opinion_seas_sick_from_vacc    float64
age_group                       object
education                       object
race                            object
sex                             object
income_poverty                  object
marital_status                  object
rent_or_own                     object
employment_status               object
hhs_geo_region                  object
census_msa                      object
household_adults               float64
household_children             float64
employment_industry             object
employment_occupation           object
dtype: object

In [39]:
test_data.isna().sum()

respondent_id                      0
xyz_concern                       85
xyz_knowledge                    122
behavioral_antiviral_meds         79
behavioral_avoidance             213
behavioral_face_mask              19
behavioral_wash_hands             40
behavioral_large_gatherings       72
behavioral_outside_home           82
behavioral_touch_face            128
doctor_recc_xyz                 2160
doctor_recc_seasonal            2160
chronic_med_condition            932
child_under_6_months             813
health_worker                    789
health_insurance               12228
opinion_xyz_vacc_effective       398
opinion_xyz_risk                 380
opinion_xyz_sick_from_vacc       375
opinion_seas_vacc_effective      452
opinion_seas_risk                499
opinion_seas_sick_from_vacc      521
age_group                          0
education                       1407
race                               0
sex                                0
income_poverty                  4497
marital_status                  1442
rent_or_own                     2036
employment_status               1471
hhs_geo_region                     0
census_msa                         0
household_adults                 225
household_children               225
employment_industry            13275
employment_occupation          13426
dtype: int64

In [40]:
training_data.isna().sum()

respondent_id                      0
xyz_concern                       92
xyz_knowledge                    116
behavioral_antiviral_meds         71
behavioral_avoidance             208
behavioral_face_mask              19
behavioral_wash_hands             42
behavioral_large_gatherings       87
behavioral_outside_home           82
behavioral_touch_face            128
doctor_recc_xyz                 2160
doctor_recc_seasonal            2160
chronic_med_condition            971
child_under_6_months             820
health_worker                    804
health_insurance               12274
opinion_xyz_vacc_effective       391
opinion_xyz_risk                 388
opinion_xyz_sick_from_vacc       395
opinion_seas_vacc_effective      462
opinion_seas_risk                514
opinion_seas_sick_from_vacc      537
age_group                          0
education                       1407
race                               0
sex                                0
income_poverty                  4423
marital_status                  1408
rent_or_own                     2042
employment_status               1463
hhs_geo_region                     0
census_msa                         0
household_adults                 249
household_children               249
employment_industry            13330
employment_occupation          13470
dtype: int64

In [41]:
a=test_data

In [42]:
a

,respondent_id,xyz_concern,xyz_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,behavioral_touch_face,...,income_poverty,marital_status,rent_or_own,employment_status,hhs_geo_region,census_msa,household_adults,household_children,employment_industry,employment_occupation
0,26707,2.0,2.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,...,"> $75,000",Not Married,Rent,Employed,mlyzmhmf,"MSA, Not Principle City",1.0,0.0,atmlpfrs,hfxkjkmi
1,26708,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,Below Poverty,Not Married,Rent,Employed,bhuqouqj,Non-MSA,3.0,0.0,atmlpfrs,xqwwgdyp
2,26709,2.0,2.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,...,"> $75,000",Married,Own,Employed,lrircsnp,Non-MSA,1.0,0.0,nduyfdeo,pvmttkik
3,26710,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,"<= $75,000, Above Poverty",Married,Own,Not in Labor Force,lrircsnp,"MSA, Not Principle City",1.0,0.0,NaN,NaN
4,26711,3.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,...,"<= $75,000, Above Poverty",Not Married,Own,Employed,lzgpxyit,Non-MSA,0.0,1.0,fcxhlnwr,mxkfnird
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26703,53410,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,...,NaN,NaN,NaN,NaN,dqpwygqj,"MSA, Principle City",1.0,1.0,NaN,NaN
26704,53411,3.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,...,Below Poverty,Married,Rent,Employed,qufhixun,Non-MSA,1.0,3.0,fcxhlnwr,vlluhbov
26705,53412,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,Below Poverty,Not Married,Rent,Not in Labor Force,qufhixun,"MSA, Not Principle City",1.0,0.0,NaN,NaN
26706,53413,3.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,...,"<= $75,000, Above Poverty",Married,Own,Not in Labor Force,bhuqouqj,"MSA, Not Principle City",1.0,0.0,NaN,NaN
26707,53414,2.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,...,NaN,Not Married,Rent,Employed,lrircsnp,"MSA, Principle City",0.0,0.0,NaN,xtkaffoo

In [43]:
# Fill categorical values with 'missing' & numerical values with mean
cat_imputer=SimpleImputer(strategy="constant", fill_value="missing")
# door_imputer =SimpleImputer(strategy="constant", fill_value=4)
# num_imputer=SimpleImputer(strategy="mean")

xyz_concern_imputer=SimpleImputer(strategy="constant", fill_value=int(2))
xyz_knowledge_imputer=SimpleImputer(strategy="constant", fill_value=int(1))
behavioral_face_mask_imputer=SimpleImputer(strategy="constant",fill_value=int(0))
opinion_xyz_vacc_effective_imputer=SimpleImputer(strategy="constant", fill_value=int(4))
opinion_seas_risk_imputer=SimpleImputer(strategy="constant", fill_value=int(3))
education_imputer=SimpleImputer(strategy="constant", fill_value="College Graduate")
income_poverty_imputer=SimpleImputer(strategy="constant", fill_value="<= $75,000, Above Poverty")
marital_status_imputer=SimpleImputer(strategy="constant", fill_value="Married")
rent_or_own_imputer=SimpleImputer(strategy="constant", fill_value="Own")
employment_status_imputer=SimpleImputer(strategy="constant", fill_value="Employed")

# Define columns

# door_feature=["Doors"]
# num_features=["Odometer (KM)"]
rent_or_own_features=["rent_or_own"]

xyz_concern_features=["xyz_concern", "opinion_xyz_risk", "opinion_xyz_sick_from_vacc", "opinion_seas_sick_from_vacc"]
xyz_knowledge_features=["xyz_knowledge","behavioral_avoidance","behavioral_antiviral_meds", "behavioral_wash_hands", "behavioral_touch_face", "household_adults", "household_children"]
behavioral_face_mask_features=["behavioral_face_mask", "behavioral_large_gatherings","behavioral_outside_home", "doctor_recc_xyz", "doctor_recc_seasonal", "chronic_med_condition", "child_under_6_months","health_worker", "health_insurance"]
opinion_xyz_vacc_effective_features=["opinion_xyz_vacc_effective", "opinion_seas_vacc_effective"]
opinion_seas_risk_features=["opinion_seas_risk"]
education_features=["education"]
income_poverty_features=["income_poverty"]
marital_status_features=["marital_status"]
# rent_or_own_features=["rent_or_own"]
employment_status=["employment_status"]
cat_features=["employment_industry","employment_occupation"]

# create an imputer (something that fills missing data)
imputer =ColumnTransformer([
    
#     ("door_imputer", door_imputer, door_feature),
#     ("num_imputer", num_imputer, num_features),
    ("xyz_concern_imputer",xyz_concern_imputer,xyz_concern_features),
    ("xyz_knowledge_imputer", xyz_knowledge_imputer, xyz_knowledge_features),
    ("behavioral_face_mask_imputer", behavioral_face_mask_imputer,behavioral_face_mask_features),
    ("opinion_xyz_vacc_effective_imputer", opinion_xyz_vacc_effective_imputer, opinion_xyz_vacc_effective_features),
    ("opinion_seas_risk_imputer", opinion_seas_risk_imputer, opinion_seas_risk_features),
    ("education_imputer", education_imputer, education_features), 
    ("income_poverty_imputer", income_poverty_imputer, income_poverty_features), 
    ("marital_status_imputer", marital_status_imputer, marital_status_features), 
    ("rent_or_own_imputer", rent_or_own_imputer, rent_or_own_features),
    ("employment_status_imputer", employment_status_imputer, employment_status),
    ("cat_imputer", cat_imputer, cat_features)
   ],
remainder="passthrough")


# Transform the data
filled_a=imputer.fit_transform(a)
filled_a

array([[2.0, 1.0, 1.0, ..., 'Female', 'mlyzmhmf',
        'MSA, Not Principle  City'],
       [1.0, 1.0, 1.0, ..., 'Male', 'bhuqouqj', 'Non-MSA'],
       [2.0, 4.0, 2.0, ..., 'Male', 'lrircsnp', 'Non-MSA'],
       ...,
       [0.0, 3.0, 1.0, ..., 'Female', 'qufhixun',
        'MSA, Not Principle  City'],
       [3.0, 3.0, 4.0, ..., 'Female', 'bhuqouqj',
        'MSA, Not Principle  City'],
       [2.0, 1.0, 2.0, ..., 'Female', 'lrircsnp', 'MSA, Principle City']],
      dtype=object)

In [44]:
test_data_filled=pd.DataFrame(filled_a,
                              columns=["xyz_concern", "opinion_xyz_risk", "opinion_xyz_sick_from_vacc","opinion_seas_sick_from_vacc", "xyz_knowledge",
                                      "behavioral_avoidance", "behavioral_antiviral_meds","behavioral_wash_hands", "behavioral_touch_face", "household_adults", 
                                      "household_children", "behavioral_face_mask", "behavioral_large_gatherings", "behavioral_outside_home", "doctor_recc_xyz",
                                       "doctor_recc_seasonal", "chronic_med_condition", "child_under_6_months", "health_worker",
                                       "health_insurance", "opinion_xyz_vacc_effective","opinion_seas_vacc_effective", "opinion_seas_risk", 
                                      "education", "income_poverty", "marital_status","rent_or_own", "employment_status", "employment_industry","employment_occupation",
                                       "respondent_id", "age_group", "race", "sex", "hhs_geo_region", "census_msa"])
test_data_filled.head()

,xyz_concern,opinion_xyz_risk,opinion_xyz_sick_from_vacc,opinion_seas_sick_from_vacc,xyz_knowledge,behavioral_avoidance,behavioral_antiviral_meds,behavioral_wash_hands,behavioral_touch_face,household_adults,...,rent_or_own,employment_status,employment_industry,employment_occupation,respondent_id,age_group,race,sex,hhs_geo_region,census_msa
0,2,1,1,1,2,1,0,1,1,1,...,Rent,Employed,atmlpfrs,hfxkjkmi,26707,35 - 44 Years,Hispanic,Female,mlyzmhmf,"MSA, Not Principle City"
1,1,1,1,1,1,0,0,0,0,3,...,Rent,Employed,atmlpfrs,xqwwgdyp,26708,18 - 34 Years,White,Male,bhuqouqj,Non-MSA
2,2,4,2,4,2,0,0,1,1,1,...,Own,Employed,nduyfdeo,pvmttkik,26709,55 - 64 Years,White,Male,lrircsnp,Non-MSA
3,1,2,2,2,1,0,0,0,0,1,...,Own,Not in Labor Force,missing,missing,26710,65+ Years,White,Female,lrircsnp,"MSA, Not Principle City"
4,3,2,4,2,1,1,1,1,1,0,...,Own,Employed,fcxhlnwr,mxkfnird,26711,35 - 44 Years,Black,Female,lzgpxyit,Non-MSA

In [45]:
# now convertion of categorical data to float


# let's try and convert our data to numbers
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features=["age_group",
       "education", "race", "sex", "income_poverty", "marital_status",
       "rent_or_own", "employment_status", "hhs_geo_region", "census_msa", "employment_industry", "employment_occupation"]
one_hot=OneHotEncoder()
transformer=ColumnTransformer([("one_hot",one_hot,categorical_features)], remainder="passthrough")

transformed_a=transformer.fit_transform(test_data_filled)
transformed_a

array([[0.0, 1.0, 0.0, ..., 5.0, 1.0, 26707],
       [1.0, 0.0, 0.0, ..., 4.0, 1.0, 26708],
       [0.0, 0.0, 0.0, ..., 5.0, 4.0, 26709],
       ...,
       [1.0, 0.0, 0.0, ..., 4.0, 3.0, 53412],
       [0.0, 0.0, 0.0, ..., 4.0, 3.0, 53413],
       [0.0, 0.0, 1.0, ..., 5.0, 4.0, 53414]], dtype=object)

In [46]:
pd.DataFrame(transformed_a)

,0,1,2,3,4,5,6,7,8,9,...,98,99,100,101,102,103,104,105,106,107
0,0,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,1,5,5,1,26707
1,1,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,4,4,1,26708
2,0,0,0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,5,5,4,26709
3,0,0,0,0,1,1,0,0,0,0,...,1,1,1,0,0,1,4,4,4,26710
4,0,1,0,0,0,1,0,0,0,1,...,0,0,0,0,1,1,5,4,4,26711
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26703,0,1,0,0,0,0,0,1,0,0,...,1,1,0,0,0,0,4,4,2,53410
26704,1,0,0,0,0,1,0,0,0,0,...,0,0,0,0,1,0,4,5,2,53411
26705,1,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,1,4,4,3,53412
26706,0,0,0,1,0,0,0,0,1,0,...,0,0,0,1,0,0,2,4,3,53413
26707,0,0,1,0,0,0,0,1,0,0,...,1,0,0,0,0,1,5,5,4,53414

In [47]:
b=clf.predict(transformed_a)

In [48]:
b

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [49]:
from sklearn.metrics import roc_curve

# make predictions with probabilities
b_probs=clf.predict_proba(transformed_a)

b_probs[:10], len(b_probs)

(array([[0.73, 0.27],
        [0.95, 0.05],
        [0.76, 0.24],
        [0.45, 0.55],
        [0.61, 0.39],
        [0.32, 0.68],
        [0.63, 0.37],
        [0.76, 0.24],
        [0.85, 0.15],
        [0.86, 0.14]]),
 26708)

In [50]:
# keep only positive 
b_probs_positive=b_probs[:,1]
b_probs_positive[:10]

array([0.27, 0.05, 0.24, 0.55, 0.39, 0.68, 0.37, 0.24, 0.15, 0.14])

In [51]:
b_probs_positive

array([0.27, 0.05, 0.24, ..., 0.2 , 0.17, 0.5 ])

In [52]:
len(b_probs_positive)

26708

In [53]:
y_seasonal=training_labels["seasonal_vaccine"]

In [54]:
# 2. choose the right model and hyperparameters
from sklearn.ensemble import RandomForestClassifier
clf_seasonal=RandomForestClassifier(n_estimators=100)

# we'll keep the default hyperparam eter
clf_seasonal.get_params();

In [55]:
# 3.fit the model to the  training data
from sklearn.model_selection import train_test_split

X_train , X_test, Y_train,Y_test=train_test_split(transformed_x, y_seasonal, test_size=0.2)

In [56]:
clf_seasonal.fit(X_train, Y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [57]:
clf_seasonal.score(X_test, Y_test)

0.7839760389367278

In [58]:
b_seasonal=clf_seasonal.predict(transformed_a)

In [59]:
b_seasonal

array([0, 0, 1, ..., 0, 0, 1], dtype=int64)

In [60]:
b_probs_seasonal=clf_seasonal.predict_proba(transformed_a)

b_probs_seasonal[:10], len(b_probs_seasonal)

(array([[0.56, 0.44],
        [0.89, 0.11],
        [0.34, 0.66],
        [0.32, 0.68],
        [0.51, 0.49],
        [0.29, 0.71],
        [0.44, 0.56],
        [0.72, 0.28],
        [0.8 , 0.2 ],
        [0.26, 0.74]]),
 26708)

In [61]:
# keep only positive 
b_probs_seasonal_positive=b_probs_seasonal[:,1]
b_probs_seasonal_positive[:10]

array([0.44, 0.11, 0.66, 0.68, 0.49, 0.71, 0.56, 0.28, 0.2 , 0.74])

In [62]:
respondent_id=pd.Series(test_data["respondent_id"])

In [63]:
respondent_id

0        26707
1        26708
2        26709
3        26710
4        26711
         ...
26703    53410
26704    53411
26705    53412
26706    53413
26707    53414
Name: respondent_id, Length: 26708, dtype: int64

In [64]:
submission_file=pd.DataFrame({"respondent_id":respondent_id, "h1n1_vaccine":b_probs_positive, "seasonal_vaccine":b_probs_seasonal_positive})

In [65]:
submission_file

       respondent_id  h1n1_vaccine  seasonal_vaccine
0              26707          0.27              0.44
1              26708          0.05              0.11
2              26709          0.24              0.66
3              26710          0.55              0.68
4              26711          0.39              0.49
...              ...           ...               ...
26703          53410          0.29              0.64
26704          53411          0.19              0.22
26705          53412          0.20              0.32
26706          53413          0.17              0.38
26707          53414          0.50              0.63

[26708 rows x 3 columns]

In [66]:
submission_file.to_csv("SUBMISSION_FILE.csv", index=False)